<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Univote
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"><app-logo></app-logo></ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="loading" style="padding: 0px 16px">
    <app-loader-post></app-loader-post>
    <app-loader-post></app-loader-post>
  </div>

  <ng-container *ngIf="!loading">
    <ion-card class="post" *ngFor="let item of posts">
      <img alt="Silhouette of mountains" [src]="item.imageContent" />
      <ion-card-header>
        <ion-card-subtitle>admin</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div [innerHTML]="item.body"></div>
        <!-- <button class="button-more">more</button> -->
        <div class="date">
          {{ item.postDate }}
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>
