ion-card-subtitle {
  --color: #000;
  text-transform: lowercase;
}

ion-card.post {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  border-radius: 0px;
}

.button-more {
  background: none;
  color: #555;
}


