<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>BEM Fasilkom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">BEM Fasilkom</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let candidate of candidates">

    <ion-card class="card-horizontal">
      <div class="card-image-container">
        <ion-img class="candidate-image" [src]="candidate.candidate_photo" alt="Card image"></ion-img>
      </div>
      <div class="card-content">
        <ion-text color="medium" class="subtitle">
          {{ candidate.candidate_name }}
        </ion-text>
        <h2 class="title">
          {{ percentage(candidate) }}%
        </h2>
        <p class="description">
          <span>{{ candidate.count_result }} Suara</span> / <span>{{ candidate.count_total }} Total Suara</span>
        </p>
      </div>
    </ion-card>

    <!-- <ion-card class="tapable">
      <div>
        sadasdasd
      </div>
      <ion-card-header>
        <ion-card-subtitle>{{ candidate.candidate_name }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div style="padding-bottom: 8px;">
          {{ ((candidate.count_result / candidate.count_total) * 100).toFixed(2) }}%
        </div>
        <div>
          <span>{{ candidate.count_result }} Suara</span> / <span>{{ candidate.count_total }} Total Suara</span>
        </div>
      </ion-card-content>
    </ion-card> -->
  </div>

</ion-content>
