<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ category }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">{{ category }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Menu Voting" [src]="'https://i.pravatar.cc/300'" />
    <ion-card-header>
      <ion-card-subtitle>1. Siti & Nurjanah</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-list>

  </ion-list>
  <ion-grid>
    <ion-row>
     <ion-col class="ph-16">
      <h4>Visi</h4>
     </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ph-16">
        <ion-note>Default Note</ion-note>
      </ion-col>
     </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
     <ion-col class="ph-16">
      <h4>Misi</h4>
     </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ph-16">
        <ion-note>Default Note</ion-note>
      </ion-col>
     </ion-row>
  </ion-grid>

  <div class="spacer"></div>

  <ion-grid>
    <ion-row>
      <ion-col class="ph-16">
       <ion-button (click)="openConfirm()" expand="block" shape="round">Vote</ion-button>
      </ion-col>
     </ion-row>
     <ion-row>
       <ion-col class="ph-16">
        <ion-button (click)="navigateBack()" expand="block" shape="round" color="medium">Batal</ion-button>
       </ion-col>
      </ion-row>
  </ion-grid>

  <ion-action-sheet
    header="Konfirmasi"
    [subHeader]="description"
    [buttons]="actionSheetButtons"
    [isOpen]="isActionSheetOpen"
    (didDismiss)="postVote($event)"></ion-action-sheet>

</ion-content>
